body {
    background-color: aliceblue;
}
h1 {
    background-color: lightcoral;
}
ul {
    background-color: darksalmon;
}
li {
    background-color: beige;
}
ol{
    background-color: blueviolet;

}